
<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1> Home </h1>
    </div>
    <div class="search_box">
        <input type="text" class="form_control input_search" placeholder="Tìm sản phẩm ">
        <select name="" class=" form_control product_category">
            <option selected disabled> Product list </option>
            <option> Electronics </option>
            <option> Houseware </option>
            <option> Food </option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 ">
            <div class="product_item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image" class="product_image">
                <h3 class="product_name">Macbook pro M1</h3>
                <p class="product_description">Equipped with ARM chip based on new mobile platform, 2.8 times faster
                    than the old generation</p>
                <p class="product_warranty">Warranty: 12 months</p>
                <p class="product_price">Price: <del>$1200</del> $1000</p>
                <div class="product_rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product_actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Check Out</button>
                </div>

            </div>

        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="product_item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image" class="product_image">
                <h3 class="product_name">Macbook pro M1</h3>
                <p class="product_description">Equipped with ARM chip based on new mobile platform, 2.8 times faster
                    than the old generation</p>
                <p class="product_warranty">Warranty: 12 months</p>
                <p class="product_price">Price: <del>$1200</del> $1000</p>
                <div class="product_rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product_actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Check Out</button>
                </div>

            </div>

        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="product_item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image" class="product_image">
                <h3 class="product_name">Macbook pro M1</h3>
                <p class="product_description">Equipped with ARM chip based on new mobile platform, 2.8 times faster
                    than the old generation</p>
                <p class="product_warranty">Warranty: 12 months</p>
                <p class="product_price">Price: <del>$1200</del> $1000</p>
                <div class="product_rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product_actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Check Out</button>
                </div>

            </div>

        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="product_item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image" class="product_image">
                <h3 class="product_name">Macbook pro M1</h3>
                <p class="product_description">Equipped with ARM chip based on new mobile platform, 2.8 times faster
                    than the old generation</p>
                <p class="product_warranty">Warranty: 12 months</p>
                <p class="product_price">Price: <del>$1200</del> $1000</p>
                <div class="product_rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product_actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Check Out</button>
                </div>

            </div>

        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="product_item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image" class="product_image">
                <h3 class="product_name">Macbook pro M1</h3>
                <p class="product_description">Equipped with ARM chip based on new mobile platform, 2.8 times faster
                    than the old generation</p>
                <p class="product_warranty">Warranty: 12 months</p>
                <p class="product_price">Price: <del>$1200</del> $1000</p>
                <div class="product_rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product_actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space"></span>
                    <button class="btn btn-success">Check Out</button>
                </div>

            </div>

        </div>


    </div>

</div>
<app-footer></app-footer>
